
<div class="quickdash-tabs nav nav-tabs">
     {{#tabs}}
        {{> partials/tabbuttons }}
    {{/tabs}}
</div>
<div class="quickdash-dashboard">
    {{#tabs}}
        {{> partials/dashtabs }}
    {{/tabs}}
</div>