
<div class="quickdash-tabs tabs--primary nav nav-tabs nav-pills nav-fill">
     {{#tabs}}
        {{> partials/tabbuttons }}
    {{/tabs}}
</div>
<div class="quickdash-dashboard">
    {{#tabs}}
        {{> partials/dashtabs }}
    {{/tabs}}
</div>