<a class="quickdash-itemlink" title="{{description}}" href="{{{url}}}" target="_blank" data-idstring={{idstring}}>
    <div class="quickdash-inner ">
        <div class="quickdash-svg">
            {{{svg}}}
        </div>
        <div class="quickdash-text">
            <p class="quickdash-name">{{name}}</p>
            <span class="quickdash-source">{{source}}</span>
        </div>
    </div>
</a>
