<a class="quickdash-itemlink " title="{{description}}" href="{{{url}}}?o=d" {{#target}}target="{{target}}"{{/target}} data-idstring={{idstring}}>
    <div class="quickdash-inner ">
        <div class="quickdash-svg text-primary icon-107" >
            {{{svg}}}
        </div>
        <div class="quickdash-text cardText-126">
            <p class="quickdash-name">{{name}}</p>
            <span class="quickdash-source">{{source}}</span>
        </div>
    </div>
</a>
