<a class="quickdash-itemlink " title="{{description}}" href="{{{url}}}?o=d" {{#target}}target="{{target}}"{{/target}} data-idstring={{idstring}}>
    <div class="quickdash-inner ">
        <div class="quickdash-svg text-primary ms-fontColor-themePrimary" >
            {{{svg}}}
        </div>
        <div class="quickdash-text ">
            <p class="quickdash-name ms-fontSize-16">{{name}}</p>
            <span class="quickdash-source ms-fontSize-12">{{source}}</span>
        </div>
    </div>
</a>
