<button class="quickdash-tab-button quickdash-tab-button-tag-{{#tag}}{{raw}}{{/tag}} nav-link {{#tag}}{{active}}{{/tag}}" 
        onclick="quickdash_opentab(event, '{{#tag}}{{raw}}{{/tag}}')">
        {{#tag}}{{human}}{{/tag}} links
</button>
